mixin bookBlock(id, headline, desc, mainLink, mode)
    div(class=`book-block book-block${mode}`, href="#")
        a(href=mainLink)
            div(class=`book-block__cover book-block${mode}__cover`)
                img(src=`http://soshnikov.space/img/${id}-og.jpg`)
            div.book-block__headline
                h3=headline
            div.book-block__desc=desc