mixin bookCard(name, book, source, href, target="_self")
    a(href=href, target=target).book-card
        div.book-card__content
            div.book-card__content-name=name
            div.book-card__content-book=book
        div.book-card__source=source